.container {
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 0.625rem;

  background-color: var(--purple-100);
  color: var(--purple-300);

  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}
